#container {
	margin: auto;
	width: 100%;
}

#formContainer {
	margin: auto;
	width: 40%;
	padding: 300px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
	width:95%;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

li {
	text-align: center;
}

li.form {
	text-align: center;
	padding: 14px 16px;
}

a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 150px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

a:hover {
    background-color: #ddd;
}

a:focus, .active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.formcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

input[type=submit] {
	padding: 10px;
	margin-top: 20px;
	width: 100%;
    background: #0D6BB4;
	border: 1px;
    cursor: pointer;
	color: white;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
	transition: 0.3s;
}

input[type=submit]:hover {
	background: #0E4F82;
}

input[type=text] {
	width: 100%;
	margin-bottom: 5px;
}

input[type=password] {
	width: 100%;
}

h1 {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

h3 {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
