<!DOCTYPE html>
<html>

{% load staticfiles %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'HAccelerator/mainPages.css' %}" />
<link rel='shortcut icon' href="{% static 'HAccelerator/images/favicon.ico' %}" type='images/favicon' />
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{% static 'HAccelerator/plugins/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
<link rel="stylesheet" href="{% static 'HAccelerator/css/main.css' %}"/>
    <title>MDTouch | Appointment</title>
<meta name="theme-color" content="#3CB371">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body class="theme-cyan">
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
        <div class="form-group m-0">
            <input value="" type="search" placeholder="Explore MDTouch Events..." class="form-control morphsearch-input" />
            <button class="morphsearch-submit" type="submit">Search</button>
        </div>
    </form>   
    <span class="morphsearch-close"></span>
</div>
<nav class="navbar clearHeader">
    <div class="col-12">
        <div class="navbar-header"> <a href="javascript:void(0);" class="bars"></a> <a class="navbar-brand" href="{% url 'MDTouch:home' %}">MDTouch</a> </div>
    </div>
</nav>

<section>
        <aside id="leftsidebar" class="sidebar">
         <div class="user-info">
            <div class="admin-image"> <img src="{% static 'HAccelerator/images/random-avatar7.jpg' %}" alt=""> </div>
            <div class="admin-action-info"> <span>Welcome, {{ type }} :</span>
                <h3>{{ user.lastName }}, {{ user.firstName }}</h3>
            </div>
        </div>
          <div class="menu">
            <ul class = "list">
                <li><a href="{% url 'MDTouch:home' %}"><i class="zmdi zmdi-file-text"></i><span>Home</span></a></li>
                <li><a href="{% url 'MDTouch:information' %}"><i class="zmdi zmdi-file-text"></i><span>User Information</span></a></li>
                <li><a href="{% url 'MDTouch:appointments' %}"><i class="zmdi zmdi-file-text"></i><span>Manage Appointments</span></a></li>
                <li><a href="{% url 'MDTouch:prescriptions' %}"><i class="zmdi zmdi-file-text"></i><span>Prescriptions</span></a></li>
                <li><a href="{% url 'MDTouch:calendar' %}"><i class="zmdi zmdi-file-text"></i><span>Calendar</span></a></li>
                <li ><a  href="{% url 'MDTouch:eventinview' %}"><i class="zmdi zmdi-delicious"></i><span>Events</span></a></li>

                <li><a href="{% url 'MDTouch:logOut' %}"><i class="zmdi zmdi-file-text"></i><span>Logout</span></a></li>
            </ul>
          </div>
        </aside>
</section>
<!--  --------------- ------------ -->
<section class="content">
    <div class="container-fluid">
    <div id="container">
        <div id="tablecontainer">

            {% if error_message %}
                <div id="alert" >
                    <strong>{{ error_message }}</strong>
                </div>
            {% endif %}

            {% if type == "Patient" %}
                <h2><span style="text-decoration: underline;">{{ user.firstName }} {{ user.lastName }}</span>, These Are Your Appointments</h2>
                {% if appointments %}
                    <table>
                        <tr>
                            <th>Date And Time</th>
                            <th>Doctor</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                        {% for appointment in appointments %}
                            <tr>
                                <td><a class="alink" href="{% url 'MDTouch:updateAppt' appointment.id %}">
                                    {{ appointment.appointmentdate }},
                                    {{ appointment.appttime }} {{ appointment.phase }}
                                </a></td>
                                <td>{{ appointment.doctor }}</td>
                                <td>{{ appointment.location }}</td>
                                <td><form action="{% url 'MDTouch:cancelAppt' appointment.id %}"><input type="submit" value="Cancel" /></form></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You have no scheduled appointments.</p>
                {% endif %}

                <br>

                <form action="{% url 'MDTouch:createAppt' %}">
                    <input type="submit" value="Create Appointment" />
                </form>
            {% endif %}

            {% if type == "Doctor" %}
                <h2>Appointments at <span style="text-decoration: underline;">{{ employee.workplace.name }}</span></h2>
                {% if appointments %}
                    <table>
                        <tr>
                            <th>Date And Time</th>
                            <th>Patient</th>
                            <th>Doctor</th>
                        </tr>
                        {% for appointment in appointments %}
                            <tr>
                                <td><a class="alink" href="{% url 'MDTouch:updateAppt' appointment.id %}">
                                    {{ appointment.appointmentdate }},
                                    {{ appointment.appttime }} {{ appointment.phase }}
                                </a></td>
                                <td>{{ appointment.patient }}</td>
                                <td>{{ appointment.doctor }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>At the moment, there are no appointments at your workplace.</p>
                {% endif %}
                <hr />
                <h2>Appointments scheduled with you, <span style="text-decoration: underline;">{{ employee.firstName }} {{ employee.lastName }}</span></h2>
                {% if this_appointments %}
                    <table>
                        <tr>
                            <th>Date And Time</th>
                            <th>Patient</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                        {% for appointment in this_appointments %}
                            <tr>
                                <td><a class="alink" href="{% url 'MDTouch:updateAppt' appointment.id %}">
                                    {{ appointment.appointmentdate }},
                                    {{ appointment.appttime }} {{ appointment.phase }}
                                </a></td>
                                <td>{{ appointment.patient }}</td>
                                <td>{{ appointment.location }}</td>
                                <td><form action="{% url 'MDTouch:cancelAppt' appointment.id %}"><input type="submit" value="Cancel" /></form></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You have no scheduled appointments.</p>
                {% endif %}

                <br>

                <form action="{% url 'MDTouch:createAppt' %}">
                    <input type="submit" value="Create Appointment" />
                </form>
            {% endif %}

            {% if type == "Nurse" %}
                <h2><span style="text-decoration: underline;">{{ employee.firstName }} {{ employee.lastName }}</span>,
                    these are the appointments at <span style="text-decoration: underline;">{{ employee.workplace.name }}</span></h2>
                {% if appointments %}
                    <table>
                        <tr>
                            <th>Date And Time</th>
                            <th>Patient</th>
                            <th>Doctor</th>
                        </tr>
                        {% for appointment in appointments %}
                            <tr>
                                <td><a class="alink" href="{% url 'MDTouch:updateAppt' appointment.id %}">
                                    {{ appointment.month }}.{{ appointment.day }}.{{ appointment.year }},
                                    {{ appointment.appttime }} {{ appointment.phase }}
                                </a></td>
                                <td>{{ appointment.patient }}</td>
                                <td>{{ appointment.doctor }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>At the moment, there are no appointments at your workplace.</p>
                {% endif %}

                <br>

                <form action="{% url 'MDTouch:createAppt' %}">
                    <input type="submit" value="Create Appointment" />
                </form>
            {% endif %}
        </div>
    </div>
</div>
</section>
<!-------------------  -->
    <script>
        var today = new Date;
        document.getElementById('date').innerHTML= "" + today;
    </script>
  
<div class="color-bg"></div>
<!-- Jquery Core Js --> 
<script src="{% static 'HAccelerator/bundles/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->
 
<script src="{% static 'HAccelerator/bundles/vendorscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js --> 

<script src="{% static 'HAccelerator/bundles/mainscripts.bundle.js' %}"></script><!-- Custom Js -->
</body>
</html>
