<!DOCTYPE html>
<html>

{% load staticfiles %}
<head>
    <meta name="theme-color" content="#3CB371">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'HAccelerator/mainPages.css' %}" />
<link rel='shortcut icon' href="{% static 'HAccelerator/images/favicon.ico' %}" type='images/favicon' />
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{% static 'HAccelerator/plugins/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
<link rel="stylesheet" href="{% static 'HAccelerator/css/main.css' %}"/>
<title>MDTouch | Calendar</title>
    <script type="text/javascript">
        // this array holds names for the days of the week
        days_labels = ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'];

        // this array holds names for month in order from first to last
        months_labels = ['January', 'February', 'March', 'April', 'May', 'June',
                         'July', 'August', 'September', 'October', 'November', 'December'];

        // this stores the current date
        current_date = new Date();

        // function to initialize a calendar
        function Calendar(month, year) {
            this.month = (isNaN(month) || month==null) ? current_date.getMonth() : month;
            this.year = (isNaN(year) || year==null) ? current_date.getFullYear() : year;
            this.html = '';
        }

        // helper function to display the previous month
        function prev_Month(calendar) {
            if( calendar.month > 0 ) {
                calendar.month -= 1;
            } else {
                calendar.month = 11;
                calendar.year -= 1;
            }
            calendar.generate_display();
            document.getElementById("display").innerHTML = calendar.get_display();
            appointments_in_month(calendar);
        }

        // helper function to display the next month
        function next_Month(calendar) {
            if( calendar.month < 11 ) {
                calendar.month += 1;
            } else {
                calendar.month = 0;
                calendar.year += 1;
            }
            calendar.generate_display();
            document.getElementById("display").innerHTML = calendar.get_display();
            appointments_in_month(calendar);
        }

        function appointments_in_month(calendar) {
            document.getElementById("appts").innerHTML = get_appts(calendar.month, calendar.year);
        }

        function get_appts(month, year){
            var html = '';
            var tempmonth = (month + 1).toString();
            if((month + 1) < 10)
                    tempmonth = '0' + tempmonth;
            // JavaScript number to string: var num = 15; var n = num.toString(); result: "15"
            html += '{% if appointments %}';
                html += '<table>';
                    html += '<tr>';
                        html += '<th>Date And Time</th>';
                        html += '<th>Location</th>';
                        html += '<th>Patient</th>';
                        html += '<th>Doctor</th>';
                    html += '</tr>';
                    html += '{% for appointment in appointments %}';

                        if( (tempmonth == "{{ appointment.month }}") &&
                                ((year).toString() == "{{ appointment.year }}") ){
                            html += '<tr>';
                            html += '<td>{{ appointment.month }}.{{ appointment.day }}.{{ appointment.year }},' +
                                    '&nbsp {{ appointment.appttime }} {{ appointment.phase }}</td>';
                            html += '<td>{{ appointment.location }}</td>';
                            html += '<td>{{ appointment.patient }}</td>';
                            html += '<td>{{ appointment.doctor }}</td>';
                            html += '</tr>';
                        }
                    html += '{% endfor %}';
                html += '</table>';
            html += '{% else %}';
                html += '<p>You have no appointments in this month.</p>';
            html += '{% endif %}';
            return html;
        }

        // function to generate the month display
        Calendar.prototype.generate_display = function() {
            // get the first day of the current month
            var day_one = new Date(this.year, this.month, 1);
            var start_day = day_one.getDay();

            // find the number of days in the month
            var temp_d = new Date(this.year, this.month + 1, 0);
            var month_len = temp_d.getDate();

            // create the header
            var month_name = months_labels[this.month];
            var html = '<table align="center"><tr><th colspan="7">';
            html += month_name + "&nbsp;" + this.year;
            html += '</th></tr><tr>';
            for( var i = 0; i <= 6; i++ ) {
                html += '<td>';
                html += days_labels[i];
                html += '</td>';
            }
            html += '</tr><tr>';

            var tempmonth = (this.month + 1).toString();
            if((this.month + 1) < 10)
                    tempmonth = '0' + tempmonth;
            // fill in the days of the month
            // first loop does the rows (weeks)
            html += '{% if appointments %}';
                var cur_day = 1;
                var day_as_string = '01';
                var found = 'False';
                for ( var r = 0; r < Math.ceil((month_len + start_day) / 7); r++) {
                    // nested loop does cols (days)
                    for ( var c = 0; c <= 6; c++ ) {
                        html += '<td';
                        html += '{% for appointment in appointments %}';
                                if( (tempmonth == "{{ appointment.month }}") &&
                                        (day_as_string == "{{ appointment.day }}") &&
                                        ((this.year).toString() == "{{ appointment.year }}") && (found!='True') ){
                                    html += ' style="background-color:#0D6BB4">';
                                    found = 'True';
                                }
                        html += '{% endfor %}';
                        if( cur_day <= month_len && ( r > 0 || c >= start_day)) {
                            if(found == 'True')
                                html += cur_day;
                            else{
                                html += '>';
                                html += cur_day;
                            }
                            cur_day++;
                            found = 'False';
                            if(cur_day < 10){
                                day_as_string = '0' + cur_day.toString();
                            }else{
                                day_as_string = cur_day.toString();
                            }
                        }
                        else
                            html += '>';
                        html += '</td>';
                    }
                    html += '</tr><tr>';
                }
                html += '</tr></table>';
            html += '{% else %}';
                var cur_day = 1;
                for ( var r = 0; r < Math.ceil((month_len + start_day) / 7); r++) {
                    // nested loop does cols (days)
                    for ( var c = 0; c <= 6; c++ ) {

                        html += '<td>';
                        if( cur_day <= month_len && ( r > 0 || c >= start_day)) {
                            html += cur_day;
                            cur_day++;
                        }
                        html += '</td>';
                    }
                    html += '</tr><tr>';
                }
                html += '</tr></table>';
            html += '{% endif %}';
            // set calendar's html to the new code
            this.html = html;
        }

        // display the calender using html code
        Calendar.prototype.get_display = function() {
            return this.html;
        }
    </script>
</head>


<body class="theme-cyan">
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
        <div class="form-group m-0">
            <input value="" type="search" placeholder="Explore MDTouch Events..." class="form-control morphsearch-input" />
            <button class="morphsearch-submit" type="submit">Search</button>
        </div>
    </form>   
    <span class="morphsearch-close"></span>
</div>
<nav class="navbar clearHeader">
    <div class="col-12">
        <div class="navbar-header"> <a href="javascript:void(0);" class="bars"></a> <a class="navbar-brand" href="{% url 'MDTouch:home' %}">MDTouch</a> </div>
    </div>
</nav>

<section>
        <aside id="leftsidebar" class="sidebar">
         <div class="user-info">
            <div class="admin-image"> <img src="{% static 'HAccelerator/images/random-avatar7.jpg' %}" alt=""> </div>
            <div class="admin-action-info"> <span>Welcome, {{ type }} :</span>
                <h3>{{ user.lastName }}, {{ user.firstName }}</h3>
            </div>
        </div>
          <div class="menu">
            <ul class = "list">
                <li><a href="{% url 'MDTouch:home' %}"><i class="zmdi zmdi-file-text"></i><span>Home</span></a></li>
                <li><a href="{% url 'MDTouch:information' %}"><i class="zmdi zmdi-file-text"></i><span>User Information</span></a></li>
                <li><a href="{% url 'MDTouch:appointments' %}"><i class="zmdi zmdi-file-text"></i><span>Manage Appointments</span></a></li>
                <li><a href="{% url 'MDTouch:prescriptions' %}"><i class="zmdi zmdi-file-text"></i><span>Prescriptions</span></a></li>
                <li><a href="{% url 'MDTouch:calendar' %}"><i class="zmdi zmdi-file-text"></i><span>Calendar</span></a></li>
                <li><a href="{% url 'MDTouch:logOut' %}"><i class="zmdi zmdi-file-text"></i><span>Logout</span></a></li>
            </ul>
          </div>
        </aside>
</section>
<section class="content">
    <div class="container-fluid">
    <div id="container">
        <div id="tableContainer">
            <h2>Calendar</h2>
            <!-- buttons to use month change helper functions -->
            <input type="button" value="Next Month" onclick="next_Month(calendar)" />
            <br>
            <br>
            <input type="button" value="Previous Month" onclick="prev_Month(calendar)" />
            <!-- will use this html paragraph element to display calendar -->
            <p id="display"></p>
            <p id="appts"></p>
            <script type="text/javascript">
                var calendar = new Calendar();
                calendar.generate_display();
                document.getElementById("display").innerHTML = calendar.get_display();
                appointments_in_month(calendar);
            </script>
        </div>
    </div>
    </div>
</section>
<!-------------------  -->
    <script>
        var today = new Date;
        document.getElementById('date').innerHTML= "" + today;
    </script>
  
<div class="color-bg"></div>
<!-- Jquery Core Js --> 
<script src="{% static 'HAccelerator/bundles/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->
 
<script src="{% static 'HAccelerator/bundles/vendorscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js --> 

<script src="{% static 'HAccelerator/bundles/mainscripts.bundle.js' %}"></script><!-- Custom Js -->
</body>
</html>