<!DOCTYPE html>
<html>

{% load staticfiles %}
<head>
    <meta name="theme-color" content="#3CB371">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'HAccelerator/mainPages.css' %}" />
<link rel='shortcut icon' href="{% static 'HAccelerator/images/favicon.ico' %}" type='images/favicon' />
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{% static 'HAccelerator/plugins/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
<link rel="stylesheet" href="{% static 'HAccelerator/css/main.css' %}"/>
	<title>MDTouch | Create Prescription</title>
	<script type="text/javascript">
        function checkform()
        {
            if(document.createPres.name.value.length==0)
            {
                alert("Please enter a Prescription name");
                return false;
            }
            else if(document.createPres.dosage.value.length==0)
            {
                alert("Please enter a Dosage");
                return false;
            }
            else if(document.createPres.patient.value == "Please Select a Patient")
            {
                alert("Please select a valid patient");
                return false;
            }
            else
            {
                alert("Your prescription will now be created");
                return true;
            }
        }
	</script>
</head>

<body class="theme-cyan">
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
        <div class="form-group m-0">
            <input value="" type="search" placeholder="Explore MDTouch Events..." class="form-control morphsearch-input" />
            <button class="morphsearch-submit" type="submit">Search</button>
        </div>
    </form>   
    <span class="morphsearch-close"></span>
</div>
<nav class="navbar clearHeader">
    <div class="col-12">
        <div class="navbar-header"> <a href="javascript:void(0);" class="bars"></a> <a class="navbar-brand" href="index.html">MDTouch</a> </div>
    </div>
</nav>

<section>
        <aside id="leftsidebar" class="sidebar">
         <div class="user-info">
            <div class="admin-image"> <img src="{% static 'HAccelerator/images/random-avatar7.jpg' %}" alt=""> </div>
            <div class="admin-action-info"> <span>Welcome, {{ type }} :</span>
                <h3>{{ user.lastName }}, {{ user.firstName }}</h3>
            </div>
        </div>
          <div class="menu">
            <ul class = "list">
                <li><a href="{% url 'MDTouch:home' %}"><i class="zmdi zmdi-file-text"></i><span>Home</span></a></li>
                <li><a href="{% url 'MDTouch:information' %}"><i class="zmdi zmdi-file-text"></i><span>User Information</span></a></li>
                <li><a href="{% url 'MDTouch:appointments' %}"><i class="zmdi zmdi-file-text"></i><span>Manage Appointments</span></a></li>
                <li><a href="{% url 'MDTouch:prescriptions' %}"><i class="zmdi zmdi-file-text"></i><span>Prescriptions</span></a></li>
                <li><a href="{% url 'MDTouch:calendar' %}"><i class="zmdi zmdi-file-text"></i><span>Calendar</span></a></li>
                <li><a href="{% url 'MDTouch:logOut' %}"><i class="zmdi zmdi-file-text"></i><span>Logout</span></a></li>
            </ul>
          </div>
        </aside>
</section>
<section class="content">
    <div class="container-fluid">
    <div id="container">
        <div id="formContainer">
            <h1>Create Your Prescription Below</h1>
            <form name = 'createPres' action="{% url 'MDTouch:createPresInfo' %}" method="post" onsubmit="return checkform();">
                {% csrf_token %}

                <ul>
                    <li class="form">To create your prescription, complete the form below</li>
                </ul>

                <div class="formcontent">
                    Input a Prescription Name:
                    <input type="text" name="name" placeholder="Ex.) Amoxicillin"/>
                    Input a dosage:
                    <input type="text" name="dosage" placeholder="Ex.) 1 Every Six Hours"/>
                    Select a Patient:
                    <select style="display: block" name='patient'>
                        <option name="placeholder" value="Please Select a Patient" selected disabled hidden>Please Select a Patient</option>
                        {% for p in patients %}
                            <option name="patient" value="{{ p.id }}">{{p.lastName}}, {{ p.firstName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Submit" />
            </form>

            <form action="{% url 'MDTouch:prescriptions' %}">
                <input class="button" type="submit" value="Cancel" />
            </form>
        </div>
    </div>
    </div>
</section>
<div class="color-bg"></div>
<!-- Jquery Core Js --> 
<script src="{% static 'HAccelerator/bundles/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->
 
<script src="{% static 'HAccelerator/bundles/vendorscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js --> 

<script src="{% static 'HAccelerator/bundles/mainscripts.bundle.js' %}"></script><!-- Custom Js -->
</body>
</html>