<!DOCTYPE html>
<html>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'HAccelerator/formPages.css' %}" />
<link rel='shortcut icon' href={% static 'HAccelerator/images/favicon.ico' %} type='images/favicon' />

<head>
    <meta name="theme-color" content="#3CB371">
	<meta name="viewport" content="width=device-width, initial-scale=1">

   <title>MDTouch | Change Password</title>
   <script type="text/javascript">
      function checkform()
      {
            if(document.changepass.username.value.length==0)
            {
                alert("Please enter the username of the desired account");
                return false;
            }
            else if(document.changepass.password.value.length==0)
            {
                alert("You must input a new password");
                return false;
            }
            else if(document.changepass.password.value.length < 12)
            {
                alert("The password you entered is too small, please make it between 12 and 30 characters");
				return false;
            }
			else if(document.changepass.password.value.length > 30)
            {
                alert("The password you entered is too large, please make it between 12 and 30 character");
				return false;
            }
            else if(document.changepass.password.value.match(/[!@#$%\^&*)(+=._-]+/) == null)
			{
				alert("You must include a special character in the password (!@#$%\^&*)(+=._-)");
				return false;
			}
            else if(document.changepass.password.value.match(/[A-Z]+/) == null)
			{
				alert("You must include a capital letter in the password");
				return false;
			}
            else if(document.changepass.password.value.match(/[0-9]+/) == null)
			{
				alert("You must include a number in the password");
				return false;
			}
            else if(document.changepass.password.value.match(/[a-z]+/) == null)
			{
				alert("You must include a lowercase letter in the password");
				return false;
			}
            else if(document.changepass.password.value.indexOf(document.register.username.value) > -1)
			{
				alert("The password cannot contain the username");
				return false;
			}
            else if(document.changepass.match.value.length==0)
            {
                alert("You must confirm the password");
                return false;
            }
            else if(!(document.changepass.password.value==document.changepass.match.value))
            {
                alert("You failed to confirm your new password, please try again");
                return false;
            }
            else
            {
                 alert("Thank you for submitting");
                return true;
            }
      }
   </script>
</head>

<body>
    <div id="container">
        <div id="formContainer">
            <h1>Change Your Password</h1>

            {% if error_message %}
                <div id="alert" >
                    <strong>{{ error_message }}</strong>
                </div>
            {% endif %}

            <form name = 'changepass' action="{% url 'MDTouch:changepass' %}" method="post" onsubmit="return checkform();">
                {% csrf_token %}

                <ul>
                    <li class="form">To change your password, complete the form below</li>
                </ul>

                <div class="formcontent">
                    Enter your username:
                    <input type="text" name="username" placeholder="Username"/>
                    Enter a new password:
                    <input type="password" name="password" placeholder="New Password"/>
                    Confirm the new password:
                    <input type="password" name="match" placeholder="Confirm New Password"/>
                </div>
                <input type="submit" value="Submit" />
            </form>

            <form action="{% url 'MDTouch:index' %}">
                <input class="button" type="submit" value="Cancel" />
            </form>
        </div>
    </div>
</body>
</html>