<!DOCTYPE html>
<html>

{% load staticfiles %}
<head>
    <meta name="theme-color" content="#3CB371">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'HAccelerator/mainPages.css' %}" />
<link rel='shortcut icon' href="{% static 'HAccelerator/images/favicon.ico' %}" type='images/favicon' />
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{% static 'HAccelerator/plugins/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
<link rel="stylesheet" href="{% static 'HAccelerator/css/main.css' %}"/>
	<title>MDTouch | Update Profile</title>
	<script type="text/javascript">
		function checkform()
		{
            if(document.update.firstName.value.length==0)
			{
				alert("You must enter a first name");
				return false;
			}
			else if(!validateText(document.update.firstName.value))
            {
                alert("Please enter a valid first name (No numbers)");
                return false;
            }
            else if(document.update.lastName.value.length==0)
			{
				alert("You must enter a last name");
				return false;
			}
            else if(!validateText(document.update.lastName.value))
            {
                alert("Please enter a valid last name (No numbers)");
                return false;
            }
            else if (document.update.address.value.length == 0)
            {
                alert(" Please enter an address");
				return false;
            }
            else if (!validatePhone(document.update.number.value))
            {
                alert(document.update.number.value + " is incorrectly formatted, use (123)456-7890 instead");
				return false;
            }
            else if (!validateEmail(document.update.email.value))
            {
                alert(document.update.email.value + " is incorrectly formatted");
				return false;
            }
             else if(document.update.provider.value.length == 0)
            {
                alert("Please enter an insurance provider");
                return false;
            }
            else if(document.update.insuranceid.value.length == 0)
            {
                alert("Please enter an insurance ID number");
                return false;
            }
            else if(!validateID(document.update.insuranceid.value))
            {
                alert("Your ID is improperly formatted. Use 3 letters followed by 9 digits");
                return false;
            }
            else if(document.update.contactfname.value.length==0)
			{
				alert("You must enter a first name for your contact");
				return false;
			}
            else if(!validateText(document.update.contactfname.value))
            {
                alert("Please enter a valid first name for your contact(No numbers)");
                return false;
            }
            else if(document.update.contactlname.value.length==0)
			{
				alert("You must enter a last name for your contact");
				return false;
			}
            else if(!validateText(document.update.contactlname.value))
            {
                alert("Please enter a valid last name for your contact(No numbers)");
                return false;
            }
            else if(document.update.contactaddress.value.length == 0)
            {
                alert(" Please enter an address for your contact");
				return false;
            }
            else if(document.update.contactnumber.value.length == 0)
            {
                alert("Please enter a phone number for your contact");
                return false;
            }
            else if(!validatePhone(document.update.contactnumber.value))
            {
                alert(document.update.contactnumber.value + " is incorrectly formatted, use (123)456-7890 instead");
				return false;
            }
            else
            {
                alert("Your profile will now be updated");
                return true;
            }
		}

		function validateEmail(email)
        {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function validatePhone(phone)
        {
            var re = /^(\([0-9]{3}\))[0-9]{3}-[0-9]{4}$/;
            return re.test(phone);
        }

        function validateText(text)
        {
            var re = /^[a-zA-Z\s]+$/;
            return re.test(text);
        }

        function validateID(id)
        {
            var re = /^([A-Z]{3})([0-9]{9})$/;
            return re.test(id);
        }
	</script>

    <script>
        function openInfo(evt, infoType)
        {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(infoType).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</head>

<body class="theme-cyan">
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
        <div class="form-group m-0">
            <input value="" type="search" placeholder="Explore MDTouch Events..." class="form-control morphsearch-input" />
            <button class="morphsearch-submit" type="submit">Search</button>
        </div>
    </form>   
    <span class="morphsearch-close"></span>
</div>
<nav class="navbar clearHeader">
    <div class="col-12">
        <div class="navbar-header"> <a href="javascript:void(0);" class="bars"></a> <a class="navbar-brand" href="{% url 'MDTouch:home' %}">MDTouch</a> </div>
    </div>
</nav>

<!--  --------------- ------------ -->
<section class="content">
    <div class="container-fluid">
    <div id="container">
        <div id="formContainer">
            <h1>Update your profile</h1>
            <h3>To update your profile, complete the form below</h3>
            <form name = 'update' action="{% url 'MDTouch:updateProInfo' %}" method="post" onsubmit="return checkform();">
                {% csrf_token %}

                <ul>
                    <li><a href="javascript:void(0)" class="tablinks" id="defaultOpen" onclick="openInfo(event, 'pInfo')">Personal Information</a></li>
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openInfo(event, 'eCont')">Emergency Contact</a></li>
                </ul>

                <div id="pInfo" class="tabcontent">
                    Enter your first name:
                    <input type="text"  value="{{ patient.firstName }}" name="firstName"  placeholder="Ex.) First Name"/>
                    Enter your last name:
                    <input type="text"  value="{{ patient.lastName }}" name="lastName"  placeholder="Ex.) Last Name"/>
                    Enter your address:
                    <input type="text" value="{{ patient.address }}" name="address" placeholder="Ex.) 123 Name Street"/>
                    Enter your phone number:
                    <input type="text" value="{{ patient.number }}" name="number" placeholder="Ex.) (123)456-7890"/>
                    Enter your email address:
                    <input type="text" value="{{ patient.email }}" name="email" placeholder="Ex.) example@email.com"/>
                    Enter your insurance provider:
                    <input type="text" value="{{ patient.provider }}" name="provider" placeholder="Ex.) Excellus Blue Cross Blue Shield"/>
                    Enter your insurance ID number:
                    <input type="text" value="{{ patient.insuranceid }}" name="insuranceid" placeholder="Ex.) ABC012345678"/>
                </div>

                <div id="eCont" class="tabcontent">
                    Enter the first name of your contact:
                    <input type="text" value="{{ patient.contact.firstName }}" name="contactfname" placeholder="Ex.) Jane"/>
                    Enter the last name of your contact:
                    <input type="text" value="{{ patient.contact.lastName }}" name="contactlname" placeholder="Ex.) Doe"/>
                    Enter the address of your contact:
                    <input type="text" value="{{ patient.contact.address }}" name="contactaddress" placeholder="Ex.) 123 Name Street"/>
                    Enter the phone number of your contact:
                    <input type="text" value="{{ patient.contact.number }}" name="contactnumber" placeholder="Ex.) (123)456-7890"/>
                </div>

                <input class="button" type="submit" value="Submit" />
            </form>

            <form action="{% url 'MDTouch:information' %}">
                <input class="button" type="submit" value="Cancel" />
            </form>

            <script>
                document.getElementById("defaultOpen").click()
            </script>
        </div>
    </div>
    </div>
</section>
<!-------------------  -->
    <script>
        var today = new Date;
        document.getElementById('date').innerHTML= "" + today;
    </script>
  
<div class="color-bg"></div>
<!-- Jquery Core Js --> 
<script src="{% static 'HAccelerator/bundles/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->
 
<script src="{% static 'HAccelerator/bundles/vendorscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js --> 

<script src="{% static 'HAccelerator/bundles/mainscripts.bundle.js' %}"></script><!-- Custom Js -->

</body>
</html>